<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <footer class="footer footer-center font-bold text-slate-500 bg-slate-300 p-4">
    <aside>
      <p>Copyright © 2024 - All right reserved by Wong Jin Xuan</p>
    </aside>
  </footer>
</body>
</html>