<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/output.css" />
    <title>BLOG-IT: Auther Home</title>
  </head>
  <body>

    <!-- Header Navbar -->
    <header class="navbar bg-slate-300 text-slate-500 font-bold p-4">
      <div class="navbar-start">
        <!-- Home button to lead users back to the localhost mainpage -->
        <form action="/" method="GET">
          <button type="submit" class="font-bold btn btn-square btn-outline border-none text-primary-color hover:bg-slate-400 hover:text-slate-700">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
            </svg>                   
          </button>
        </form>
      </div>
      <div class="navbar-center">
        <!-- Website name at the center of the navbar -->
        <a style="font-weight: bolder !important;" class="btn btn-outline text-3xl font-bold border-none hover:bg-inherit text-slate-600 hover:tracking-wide hover:text-slate-500">BLOG-IT</a>
      </div>
      <div class="navbar-end">
      </div>
    </header>

    <!-- Settings button -->
    <div class="flex justify-end mr-10 mt-5">
      <form action="/author_settings" method="GET">
        <button href="#" class="btn btn-secondary w-40">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.325.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 0 1 1.37.49l1.296 2.247a1.125 1.125 0 0 1-.26 1.431l-1.003.827c-.293.241-.438.613-.43.992a7.723 7.723 0 0 1 0 .255c-.008.378.137.75.43.991l1.004.827c.424.35.534.955.26 1.43l-1.298 2.247a1.125 1.125 0 0 1-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.47 6.47 0 0 1-.22.128c-.331.183-.581.495-.644.869l-.213 1.281c-.09.543-.56.94-1.11.94h-2.594c-.55 0-1.019-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 0 1-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 0 1-1.369-.49l-1.297-2.247a1.125 1.125 0 0 1 .26-1.431l1.004-.827c.292-.24.437-.613.43-.991a6.932 6.932 0 0 1 0-.255c.007-.38-.138-.751-.43-.992l-1.004-.827a1.125 1.125 0 0 1-.26-1.43l1.297-2.247a1.125 1.125 0 0 1 1.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.086.22-.128.332-.183.582-.495.644-.869l.214-1.28Z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
          </svg>
          Settings
        </button>
      </form>
    </div>

    <!-- Hero section -->
    <section>
      <h1>Author Homepage</h1>
      <h1 class="font-medium text-xl mt-5">Express your creativy<br>and share them with the world!</p>
        <!-- Container to center new draft button -->
        <div class="flex justify-center mt-16">
          <!-- New draft button -->
          <a href="#" class="btn btn-primary text-slate-800 text-lg h-16 w-56 md:w-80">Create New Draft</a>
        </div>

        <!-- Container to store published articles and draft articles button -->
        <div class="flex flex-col items-center justify-center gap-2 mt-5 sm:flex-row">
          <!-- Links to the published articles section of the page -->
          <a href="#published_articles" class="btn btn-secondary text-slate-200 text-lg h-16 w-56">Published Articles</a>
          <!-- Links to the draft articles section of the page -->
          <a href="#draft_articles" class="btn btn-secondary text-slate-200 text-lg h-16 w-56">Draft Articles</a>
        </div>
    </section>

    <!-- Published articles section -->
    <section id="published_articles">
      <h1>Published Articles</h1>
      <!-- Grid container that stores all the article cards -->
      <div class="grid grid-cols-1 mt-7 gap-5 p-5 overflow-hidden bg-slate-400 shadow-xl rounded-lg md:grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3">
        <!-- Article cards container -->
        <div class="card w-full h-auto shadow-xl bg-slate-100">
          <!-- Body container for information in the card -->
          <div class="card-body">
            <!-- Article title -->
            <h2 class="card-title text-slate-700">Article Title!</h2>
            <!-- Article description -->
            <p class="text-slate-600">Article description.</p>
            <!-- Container that stores the article information -->
            <div class="flex flex-col justify-start gap-x-4 mt-5">
              <!-- Container to store the view icon and the views amount in a row -->
              <div class="flex items-center text-slate-400 gap-2">
                <!-- View icon -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>     
                <!-- Views amount -->
                <p>
                  10,000,000         
                </p>
              </div>
              <!-- Container to store the like icon and the likes amount in a row -->
              <div class="flex items-center text-slate-400 gap-2">
                <!-- Like icon -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                </svg>  
                <!-- Likes amount -->
                <p>
                  5,000,000
                </p>
              </div>
              <!-- Modification information -->
              <p class="text-slate-400">Time created: January 2024</p>
              <p class="text-slate-400">Publication date: January 2024</p>
              <p class="text-slate-400">Last modified: February 2024</p>
            </div>
            <!-- Action section for the card -->
            <div class="card-actions mt-3 items-center justify-between">
              <!-- Links to the article -->
              <form action="/reader_articles" method="GET" class="flex-grow">
                <button type="submit" class="btn btn-primary w-full">START READING!</button>
              </form>
              <!-- Share button -->
              <a href="#" class="btn btn-info btn-square text-purple-950" title="Share">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z" />
                </svg>                            
              </a>
              <!-- Delete button -->
              <a href="#" class="btn btn-error btn-square text-red-950" title="Delete">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                </svg>              
              </a>
            </div>
          </div>
        </div>

        <div class="card w-full h-auto shadow-xl bg-slate-100">
          <div class="card-body">
            <h2 class="card-title text-slate-700">Article Title 2!</h2>
            <p class="text-slate-600">Article description 2.</p>
            <div class="flex flex-col justify-start gap-x-4 mt-5">
              <div class="flex items-center text-slate-400 gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>     
                <p>
                  10,000,000         
                </p>
              </div>
              <div class="flex items-center text-slate-400 gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                </svg>              
                <p>
                  5,000,000
                </p>
              </div>
              <p class="text-slate-400">Time created: January 2024</p>
              <p class="text-slate-400">Publication date: January 2024</p>
              <p class="text-slate-400">Last modified: February 2024</p>
            </div>
            <div class="card-actions mt-3 items-center justify-between">
              <form action="/reader_articles" method="GET" class="flex-grow">
                <button type="submit" class="btn btn-primary w-full">START READING!</button>
              </form>
              <a href="#" class="btn btn-info btn-square text-purple-950" title="Share">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z" />
                </svg>                            
              </a>
              <a href="#" class="btn btn-error btn-square text-red-950" title="Delete">            
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                </svg>              
              </a>
            </div>
          </div>
        </div>

        <div class="card w-full h-auto shadow-xl bg-slate-100">
          <div class="card-body">
            <h2 class="card-title text-slate-700">Article Title 3!</h2>
            <p class="text-slate-600">Article description 3.</p>
            <div class="flex flex-col justify-start gap-x-4 mt-5">
              <div class="flex items-center text-slate-400 gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>     
                <p>
                  10,000,000         
                </p>
              </div>
              <div class="flex items-center text-slate-400 gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                </svg>              
                <p>
                  5,000,000
                </p>
              </div>
              <p class="text-slate-400">Time created: January 2024</p>
              <p class="text-slate-400">Publication date: January 2024</p>
              <p class="text-slate-400">Last modified: February 2024</p>
            </div>
            <div class="card-actions mt-3 items-center justify-between">
              <form action="/reader_articles" method="GET" class="flex-grow">
                <button type="submit" class="btn btn-primary w-full">START READING!</button>
              </form>
              <a href="#" class="btn btn-info btn-square text-purple-950" title="Share">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z" />
                </svg>                            
              </a>
              <a href="#" class="btn btn-error btn-square text-red-950" title="Delete">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                </svg>              
              </a>
            </div>
          </div>
        </div>

        <div class="card w-full h-auto shadow-xl bg-slate-100">
          <div class="card-body">
            <h2 class="card-title text-slate-700">Article Title 4!</h2>
            <p class="text-slate-600">Article description 4.</p>
            <div class="flex flex-col justify-start gap-x-4 mt-5">
              <div class="flex items-center text-slate-400 gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>     
                <p>
                  10,000,000         
                </p>
              </div>
              <div class="flex items-center text-slate-400 gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                </svg>              
                <p>
                  5,000,000
                </p>
              </div>
              <p class="text-slate-400">Time created: January 2024</p>
              <p class="text-slate-400">Publication date: January 2024</p>
              <p class="text-slate-400">Last modified: February 2024</p>
            </div>
            <div class="card-actions mt-3 items-center justify-between">
              <form action="/reader_articles" method="GET" class="flex-grow">
                <button type="submit" class="btn btn-primary w-full">START READING!</button>
              </form>
              <a href="#" class="btn btn-info btn-square text-purple-950" title="Share">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z" />
                </svg>                            
              </a>
              <a href="#" class="btn btn-error btn-square text-red-950" title="Delete">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                </svg>              
              </a>
            </div>
          </div>
        </div>          
      </div>
    </section>

    <!-- Draft articles section -->
    <section id="draft_articles">
      <h1>Draft Articles</h1>
      <!-- Grid container that stores all the article cards -->
      <div class="grid grid-cols-1 mt-7 gap-5 p-5 overflow-hidden bg-slate-400 shadow-xl rounded-lg md:grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3">
        <!-- Article cards container -->
        <div class="card w-full h-auto shadow-xl bg-slate-100">
          <!-- Body container for information in the card -->
          <div class="card-body">
            <!-- Article title -->
            <h2 class="card-title text-slate-700">Article Title!</h2>
            <!-- Article description -->
            <p class="text-slate-600">Article description.</p>
            <!-- Container that stores the article information -->
            <div class="flex flex-col justify-start gap-x-4 mt-5">
              <!-- Modification information -->
              <p class="text-slate-400">Time created: January 2024</p>
              <p class="text-slate-400">Publication date: January 2024</p>
              <p class="text-slate-400">Last modified: February 2024</p>
            </div>
            <!-- Action section for the card -->
            <div class="card-actions mt-3 items-center justify-between">
              <!-- Publish article button -->
              <form action="#" method="GET" class="flex-grow">
                <button type="submit" class="btn btn-primary w-full">PUBLISH</button>
              </form>
              <!-- Edit button -->
               <form action="/author_edit" method="GET">
                 <button href="#" class="btn btn-warning btn-square text-yellow-950" title="Edit">
                   <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                     <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                   </svg>                                     
                 </button>
               </form>
              <!-- Delete button -->
              <a href="#" class="btn btn-error btn-square text-red-950" title="Delete">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                </svg>              
              </a>
            </div>
          </div>
        </div>

        <div class="card w-full h-auto shadow-xl bg-slate-100">
          <div class="card-body">
            <h2 class="card-title text-slate-700">Article Title 2!</h2>
            <p class="text-slate-600">Article description 2.</p>
            <div class="flex flex-col justify-start gap-x-4 mt-5">
              
              <p class="text-slate-400">Time created: January 2024</p>
              <p class="text-slate-400">Publication date: January 2024</p>
              <p class="text-slate-400">Last modified: February 2024</p>
            </div>
            <div class="card-actions mt-3 items-center justify-between">
              <form action="#" method="GET" class="flex-grow">
                <button type="submit" class="btn btn-primary w-full">PUBLISH</button>
              </form>
              <form action="/author_edit" method="GET">
                <button href="#" class="btn btn-warning btn-square text-yellow-950" title="Edit">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                  </svg>                                     
                </button>
              </form>
              <a href="#" class="btn btn-error btn-square text-red-950" title="Delete">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                </svg>              
              </a>
            </div>
          </div>
        </div>

        <div class="card w-full h-auto shadow-xl bg-slate-100">
          <div class="card-body">
            <h2 class="card-title text-slate-700">Article Title 3!</h2>
            <p class="text-slate-600">Article description 3.</p>
            <div class="flex flex-col justify-start gap-x-4 mt-5">
              
              <p class="text-slate-400">Time created: January 2024</p>
              <p class="text-slate-400">Publication date: January 2024</p>
              <p class="text-slate-400">Last modified: February 2024</p>
            </div>
            <div class="card-actions mt-3 items-center justify-between">
              <form action="#" method="GET" class="flex-grow">
                <button type="submit" class="btn btn-primary w-full">PUBLISH</button>
              </form>
              <form action="/author_edit" method="GET">
                <button href="#" class="btn btn-warning btn-square text-yellow-950" title="Edit">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                  </svg>                                     
                </button>
              </form>
              <a href="#" class="btn btn-error btn-square text-red-950" title="Delete">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                </svg>              
              </a>
            </div>
          </div>
        </div>

        <div class="card w-full h-auto shadow-xl bg-slate-100">
          <div class="card-body">
            <h2 class="card-title text-slate-700">Article Title 4!</h2>
            <p class="text-slate-600">Article description 4.</p>
            <div class="flex flex-col justify-start gap-x-4 mt-5">
              <p class="text-slate-400">Time created: January 2024</p>
              <p class="text-slate-400">Publication date: January 2024</p>
              <p class="text-slate-400">Last modified: February 2024</p>
            </div>
            <div class="card-actions mt-3 flex items-center justify-between">
              <form action="#" method="GET" class="flex-grow">
                <button type="submit" class="btn btn-primary w-full">PUBLISH</button>
              </form>
              <form action="/author_edit" method="GET">
                <button href="#" class="btn btn-warning btn-square text-yellow-950" title="Edit">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                  </svg>                                     
                </button>
              </form>
              <a href="#" class="btn btn-error btn-square text-red-950" title="Delete">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                </svg>              
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer footer-center font-bold text-slate-500 bg-slate-300 p-4">
      <aside>
        <p>Copyright © 2024 - All right reserved by Wong Jin Xuan</p>
      </aside>
    </footer>

    <!-- New draft button with a fixed positioning -->
    <form action="/author_edit" method="GET">
      <button class="btn btn-success text-green-950 w-40 h-24 fixed bottom-4 right-4">
        <!-- New draft icon -->
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="size-6 inline-block align-text-bottom mr-2">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 4.5v15m7.5-7.5h-15"/>
        </svg>    
        New Draft
      </button>
    </form>
  </body>
</html>