<!DOCTYPE html>
<html lang="en" data-theme="cupcake">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/output.css" />
    <title>Homepage</title>
  </head>

  <body>

    <h1 class="text-4xl text-center mt-8">Homepage</h1>
    
    <div class="flex justify-center">
      <div class="bg-black w-5 h-10"></div>
      <div class="bg-black w-10 h-5"></div>
      <div class="bg-black w-10 h-5"></div>
    </div>

  </body>
</html>
