<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/output.css" />
  <title>Blog-It: Reader Home</title>
</head>
<body>
  <header class="navbar bg-slate-300 text-slate-500 font-bold p-4 justify-center">
    <aside>
      <p class="text-center text-xl">BLOG-IT</p>
    </aside>
  </header>
  
  <section>
    
  </section>

  <footer class="footer footer-center font-bold text-slate-500 bg-slate-300 p-4">
    <aside>
      <p>Copyright © 2024 - All right reserved by Wong Jin Xuan</p>
    </aside>
  </footer>
</body>
</html>