<!-- Footer -->
<footer class="footer footer-center mt-auto font-bold text-slate-500 bg-slate-300 p-4">
  <aside>
    <p>Copyright © 2024 - All right reserved by Wong Jin Xuan</p>
  </aside>
</footer>